$primary-color: #5B605F; // panel boczny, nawigacja
$secondary-color: #4a4a49; // nagłówek, , kolor tekstu w kolumnach
$button-color: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów
$bg-color: #FFFFFA; // kolor tła ekranów
$msg-info-color:#3498DB; // kolor wiadomości typu info,
$msg-warning-color:#FFB03B; // kolor wiadomości typu warning
$msg-success-color:#468966; // kolor wiadomości typu success
$bin-icon-color:#BD4932; // kolor ikony kosza
$table-text-color:#A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
