$primary-color: #5B605F;
$secondary-color: #4a4a49;
$button-color: #FF6600;
$bg-color: #FFFFFA;
$msg-info-color:#3498DB;
$msg-warning-color:#FFB03B;
$msg-success-color:#468966;
$bin-icon-color:#BD4932;
$table-text-color:#A1A194;
