//Kontener główny
.container__schedule {
  height: 100%;
  width: 100%;
  padding: 2% 3%;
  background: $bg-color;
  border: 1px dotted black;
  display: none;

  &.active {
    display: block;
  }
}

//Kontener dodania planu
.container__addSchedule {
  height: 100%;
  width: 100%;
  padding: 2% 3%;
  background: $bg-color;
  border: 1px dotted $secondary-color;
  display: none;
  &.active {
    display: block;
  }
}
