//Kontener główny
.container__schedule {
  height: 100%;
  width: 100%;
  padding: 2% 3%;
  background: $bg-color;
  border: 1px dotted black;
  display: none;
  &.active {
    display: block;
  }
}

//Kontener dodania planu
.container__addSchedule {
  height: 84vh;
  width: 94%;
  padding: 2% 3%;
  background: $bg-color;
  border: 1px dashed $table-text-color;
  display: none;

  &.active {
    display: block;
    position: absolute;
    top: 3vh;
    left: 3%;

  }


  .addSchedule__new {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 5px;
    border-bottom: 2px solid $table-text-color;

    .newSchedule__title {
      color: $button-color;
      font-size: $base-font-size * 1.71;
      text-transform: uppercase;
      font-family: $font-open-sans;
      font-weight: bold;
    }

    .newSchedule__btn {
      &:focus {
        outline: none;
      }

      padding: 6px 10px;
      font-size: 16px;
      background-color: $button-color;
      color: $bg-color;
      border: none;
      font-weight: bold;
    }
  }

  .addSchedule__properties {
    width: 100%;
  /*   border: 1px solid red;*/
    //padding-top: 10px;

    .properties {
      display: flex;
      justify-content: left;
      padding: 10px;
      /* width: 100%;*/

      .schedule__data {
        font-size: $base-font-size *1.5;
        color: $primary-color;
        width: 20%;
      }

      .properties__input {
        width: 70%;
        margin-right: 10px;
        border: 1px solid $table-text-color;
      }

      .properties__nr {
        width: 40px;
        border: 1px solid $table-text-color;
      }

    }
  }

  .scheduleCard {
    background-color: $bg-color;
    height: 60%;
   /* border: 1px solid red;*/
    width: 100%;
    font-family: $font-open-sans;
    display: flex;


    .schedule__table {
      width: 100%;

      thead {
        font-size: $base-font-size *1.4;
        font-weight: bold;
        color: $primary-color;

        tr {
          width: 100%;
          text-align: center;
          border-top: 1px solid $table-text-color;
          border-bottom: 1px solid $table-text-color;
        }

        th {
          padding: 5px 10px;
          width: 16.6%;
          line-height: 30px;
        /*  border: 1px solid red;*/
          vertical-align: middle;
        }
      }

      tbody {
        font-size: $base-font-size *1.3;
        font-weight: bold;
        color: $primary-color;
        align-items: center;

        tr {
          border-bottom: 1px solid $table-text-color;
          select {
            width: 100%;
          }
          th, td {
            padding: 5px;
            /*border: 1px solid red;*/
            width: 16.6%;

          }
        }
      }
    }
  }
}

