.recipes__container {
  background: $bg-color;
  width: 100%;
  height: 84vh;
  padding: 2%;
  z-index: 0;
  border: 1px dashed $table-text-color;

  .btn {
    border: none;
    background: $bg-color;
    //margin-left: 5px;
  }

  .btn__plus {
    color: $msg-success-color;
  }

  .btn__edit {
    color: $msg-warning-color;
    padding-left: 0;
  }

  .btn__trash {
    color: $bin-icon-color;
  }

  .header__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 2px solid $table-text-color;
    padding-bottom: 2px;

    .header__title {
      align-self: end;
      font-size: 30px;
      font-weight: 600;
      font-family: $font-open-sans;
      color: $button-color;
    }
  }

  .table-scroll {
    height: 70vh;
    overflow: auto;
    margin-top: 10px;
    padding: 1%;
  }

  .table-wrapper table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $table-text-color;
    border-top: 1px solid $table-text-color;
  }

  th {
    font-size: 20px;
    font-weight: 700;
    font-family: $font-open-sans;
    color: $secondary-color;
    padding: 15px 7px;
    text-align: left;
  }

  td {
    font-size: 14px;
    font-weight: 400;
    font-family: $font-open-sans;
    color: $table-text-color;
    padding: 7px 10px;
    text-align: left;
  }

  .recipe__id {
    width: 6%;
  }

  .recipe__name {
    width: 23%;
  }

  .recipe__description {
    width: 62%;
  }

  .recipe__action {
    width: 9%;
    min-width: 80px;
  }


}