//Kontener główny

.container__recipe {
  height: 84vh;
  width: 94%;
  background-color: $bg-color;
  border: 1px dashed $table-text-color;
  z-index: 9999;
  display: none;
  //margin: 2% 0% 0% 3%;

  &.active {
    display: block;
    position: absolute;
    top: 3vh;
    left: 3%;

  }

  //Kontener wewnętrzny karty
  .container__addRecipe {

    height: 100%;
    width: 100%;
    padding: 2% 3%;
    z-index: 9999;
    overflow: auto;


    .addRecipe__newRecipe {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-bottom: 5px;
      border-bottom: 2px solid $table-text-color;

      .newRecipe__title {
        color: $button-color;
        font-size: $base-font-size * 1.71;
        text-transform: uppercase;
        font-family: $font-open-sans;
        font-weight: bold;
      }

      .newRecipe__btn {
        &:focus {
          outline: none;
        }

        padding: 6px 10px;
        font-size: 16px;
        background-color: $button-color;
        color: $bg-color;
        border: none;
        font-weight: bold;
      }
    }

    .addRecipe__properties {
      width: 100%;
      margin-bottom: 20px;

      .properties {
        display: flex;

        padding: 10px;
        width: 100%;

        #recipe__description {
          height: 50px;
        }

        .recipe__data {
          font-size: $base-font-size *1.71;
          color: $primary-color;
          width: 20%;
        }

        .properties__input {
          margin-left: 10px;
          width: 70%;
          border: 1px solid $table-text-color;
        }
      }
    }

    .addRecipe__basic {
      width: 100%;
      //height: 75%;
      display: flex;
      justify-content: space-between;

      .basic__data {
        width: 48%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .data__title {
          text-transform: uppercase;
          color: $primary-color;
          font-size: $base-font-size*1.71;
          border-bottom: 2px solid $table-text-color;
          padding-bottom: 3px;
          margin-bottom: 10px;
        }

        label {
          width: 100%;

          .properties__input {
            width: 90%;
            border: 1px solid $table-text-color;
          }

          .add__btn {
            background-color: transparent;
            border: none;
            color: $msg-success-color;

            &:focus {
              outline: none;
            }
          }

        }

        .box__list {
          margin-top: 30px;
          height: 65%;
          overflow-y: auto;
          width: 95%;
          margin-bottom: 30px;

          ol {
            counter-reset: custom-list-counter;
            list-style-type: none;
          }

          p {
            padding-left: 24px;
          }

          li {
            line-height: $base-font-size*1.3;
            font-size: 16px;
            font-family: $font-open-sans;
            padding-bottom: 5px;
          }


          .instruction__list {
            &::before {
              counter-increment: custom-list-counter;
              content: counter(custom-list-counter) '.';
              white-space: nowrap;
              text-align: left !important;
              width: 1rem;
              float: left;
            }

          }

          .ingredient__list {
            &::before {
              content: '\2022';
              white-space: nowrap;
              text-align: left !important;
              width: 1rem;
              float: left;
            }
          }

          .far.fa-edit {
            cursor: pointer;
            margin-left: 10px;
            color: $msg-warning-color;
          }

          .fas.fa-trash-alt {
            cursor: pointer;
            color: $bin-icon-color;

          }
        }
      }
    }
  }
}