
.container__pulpit {

  .widget__container1 {
    padding-bottom: 0.75vw;
    display: flex;

    .widget {
      margin: 0.75vw;
      width: 14vw;
      height: 12vw;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px dotted $msg-success-color;
      background-color: $bg-color;
      color: $msg-success-color;

      .fa-plus-square {
        padding: 0.8vw;
        font-size: 4.5rem;
      }

      .widget__text {
        font-size: 1.4rem;
        font-family: $font-open-sans;
        font-weight: bold;
      }
    }

    .widget__container2 {
      flex-direction: column;
      align-items: flex-end;
      width: 60vw;

      .widget__info {
        margin: 0.5vw;
        width: 100%;
        height: 3.3rem;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
        border: 1px dotted $msg-info-color;
        background-color: $bg-color;
        color: $msg-info-color;

        .widget__info__container {
          display: flex;
          align-items: center;
          height: 100%;

          .fa-info-circle {
            font-size: 1.8rem;
            padding-right: 1vw;
          }

          .widget__info__text {
            font-size: 1.1rem;
            font-family: $font-open-sans;
            font-weight: bold;
          }
        }

        .fa-window-close {
          font-size: 1rem;
        }
      }

      .widget__success {
        margin: 0.5vw;
        width: 100%;
        height: 3.3rem;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
        border: 1px dotted $msg-success-color;
        background-color: $bg-color;
        color: $msg-success-color;

        .widget__success__container {
          display: flex;
          align-items: center;
          height: 100%;

          .fa-check-circle {
            font-size: 1.8rem;
            padding-right: 1vw;
          }

          .widget__success__text {
            font-size: 1.2rem;
            font-family: $font-open-sans;
            font-weight: bold;
          }
        }

        .fa-window-close {
          font-size: 1rem;
        }
      }


      .widget__warning {
        margin: 0.5vw;
        width: 100%;
        height: 3.3rem;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
        border: 1px dotted $msg-warning-color;
        background-color: $bg-color;
        color: $msg-warning-color;

        .widget__warning__container {
          display: flex;
          align-items: center;
          height: 100%;

          .fa-exclamation-circle {
            font-size: 1.8rem;
            padding-right: 1vw;
          }

          .widget__warning__text {
            font-size: 1.2rem;
            font-family: $font-open-sans;
            font-weight: bold;
          }
        }

        .fa-window-close {
          font-size: 1rem;
        }
      }
    }
  }
}

.container__recipe{
  background-color: $bg-color;
  width: 100%;
  height: 100%;
}

.container__schedule{
  background-color: $bg-color;
  width: 100%;
  height: 100%;
}

.nonActive{
  display: none;
}



















