.cards-container {
  display: flex;
  justify-content: space-between;

  i {
    font-size: $base-font-size*6;
    color: rgb(161, 161, 148);

  }

  .card-container {
    width: 350px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .card-tittle {
    color: $secondary-color;
    padding: 10px 0;
    font-size: $base-font-size*2.2;
    text-align: center;
    font-family: $font-open-sans;


  }

  .card-description {
    text-align: center;
    width: 90%;
    color: $secondary-color;
    font-size: 24px;
    font-family: $font-open-sans;
    margin: 5px;
  }
}