.footer-columns__container {
  display: flex;
  justify-content: space-around;
  padding: 50px 70px;
  background-color: $primary-color;
  color: $bg-color;
  font-family: $font-open-sans;
  font-size: $base-font-size*1.7;
  line-height: $base-font-size*2;

  .footer__contact {
    width: 25%;
  }

  .footer__company-info {
    width: 25%;
    li {
      list-style-type: initial;
      list-style-position: inside;
      line-height: $base-font-size*2.5;
    }

  }

  .footer__social-media {
    width: 25%;
    .input__container {
      display: flex;

      input {
        width: 70%;
        border: none;
      }
      button {
        width: 30%;
        padding: 6px 10px;
        border: none;
        background-color: $button-color;
        color: $bg-color;
      }
    }

    .social-media__icons-container {
      padding-top: 40px;
      display: flex;

      i {
        margin-right: 40px;
        margin-left: 5px;
      }
    }
  }

  h3 {
    font-size: $base-font-size*2.28;
    padding-bottom: 20px;
  }

}

footer {
  background-color: #464646;
  padding: 20px 10px;
  text-align: center;
  .copyright {
    font-family: $font-open-sans;
    font-size: $base-font-size*1.4;
    color: $bg-color;

    span {
      color: $button-color;
    }
  }
}

