h1 {
  font-family: $font-charmonman;
  font-size: $base-font-size*2.8;
  padding: $base-font-size*2;
  margin-left: $base-font-size*3;
}

header {
 font-family: $font-open-sans ;
  background-color: $secondary-color;
  width: 100vw;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;


  #first {
    font-weight: 100;
    color: white;
  }

  #second {
    color: #E58A20;
    font-weight: 700;
  }

  .nav {
    height: 100%;

    a {
      text-decoration: none;
      color: $bg-color;
          }


    ul {
      display: inline-flex;
      align-items: center;
      height: 100%;
      li:last-child{
        margin-right: 50px;
      }
      .nav-list {
        list-style-type: none;
        text-decoration: none;
        text-transform: uppercase;
        height: 100%;
        padding: $base-font-size*2;

        &.active {
          color: #E58A20;
        }
        &:hover{
          color: #E58A20;
        }
        &:focus {
          outline: none;

        }
      }
    }
  }
}

