//Kontener główny

.container__schedule {
  height: 100%;
  width: 100%;
  background: $bg-color;
  border: 1px dotted black;
  display: none;
  /*&.active{
    display:block;*/
}
//Kontener wewnętrzny karty
.container__addSchedule {
  position: absolute;
  left: 28.45vw;
  top: 13vh;
  background: $bg-color;
  height: 85vh;
  width: 58.5vw;
  padding: 2% 3%;
  overflow: hidden;
}